.metadata/
.DS_Store
*.class
bin/*
/.idea/
/Development/org.eclipse.xtext.example.fowlerdsl/
/Development/org.eclipse.xtext.example.fowlerdsl.ide/
/Development/org.eclipse.xtext.example.fowlerdsl.tests/
/Development/org.eclipse.xtext.example.fowlerdsl.ui/
/Development/org.eclipse.xtext.example.fowlerdsl.ui.tests/
