<?xml version="1.0" encoding="ASCII"?>
<network:Network xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:network="http://mdse.org/pts/network" name="MyNetwork1">
  <stations name="Name" legs="//@legs.0 //@legs.1 //@legs.2"/>
  <stations name="Name2" legs="//@legs.0 //@legs.1 //@legs.3 //@legs.4"/>
  <stations name="Hejsa" legs="//@legs.2 //@legs.3"/>
  <stations name="Lund" legs="//@legs.4"/>
  <legs name="" distance="567" stations="//@stations.1 //@stations.0"/>
  <legs name="Legawd awdawd" distance="100" stations="//@stations.0 //@stations.1"/>
  <legs name="21" distance="12" stations="//@stations.2 //@stations.0"/>
  <legs name="" distance="100" stations="//@stations.1 //@stations.2"/>
  <legs name="" distance="100" stations="//@stations.3 //@stations.1"/>
</network:Network>
